name: Update Gradle

on:
  workflow_call:

jobs:
  gradle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v2
        with:
          commit-message-template: '[ci-skip] chore: Update Gradle Wrapper from %sourceVersion% to %targetVersion%'
          repo-token: ${{ secrets.GITHUB_TOKEN }}