name: Shared Notify

on:
  workflow_call:
    inputs:
      webhook:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    if: "!contains(github.event.commits[0].message, '[ci-skip]') || !contains(github.event.commits[0].message, 'chore:')"

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Notify Discord
        if: success()
        run: ./gradlew release-build --stacktrace
        env:
          BUILD_WEBHOOK: ${{ inputs.webhook }}