name: Shared Notify

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    if: "!contains(github.event.commits[0].message, '[ci-skip]')"

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Notify Discord
        if: success()
        run: ./gradlew release-build --stacktrace
        env:
          BUILD_WEBHOOK: ${{ secrets.BUILD_WEBHOOK }}